<%= stylesheet_link_tag "solution" %>
<p id="solution">👑解決策一覧👑</p>
<div id="calm-down">
   <p>悩んでいる時は、悩みで頭がパンパンになっていることが原因で冷静に今の自分の状況が見えていない時が多々あります。
   それによって解決からどんどん遠ざかっていってしまいます。
   そういう時にここで紹介している解決策を実行することで、今の自分を客観的に見れるようになります。それによって冷静に現状を整理して、悩みを解決することができます。</p>
</div>
<div class="box solution">
   <ul>
      <li>
         <%= link_to("10-15分の間、思っていることを口に出しながら紙に殴り書きする","/final_question") %>
          <p class="message">＜解説＞<br>思っていることを口に出したり紙に書いたりすることで、今の自分の思考を声や文字として脳に認識させることができます。それにより自分を客観視しやすくなります
          <br>参考動画：Youtubeのまこなり社長「あらゆる『悩み』を消す合理的な方法」</p>
      </li>
      <li>
         <%= link_to("誰かに相談する","/final_question") %>
         <p class="message">＜解説＞<br>誰かに相談するということは今自分が思っていることを口にだすということなので、上記の解決策で説明したような効果得られ、自分を客観視することができます。また、他人にアドバイスをもらうことで自分一人では思いつかなかったような解決策や発想を得ることができ、一気に悩みが解決する時もあります。</p>
      </li>
      <li>
         <%= link_to("夜に「瞑想＋散歩」をする","/final_question") %>
         <p class="message">＜解説＞<br>リラックスすることは、自分を客観視することへの第一歩です。夜は副交感神経が活発化しているので、日中よりもリラックスするのに適した時間帯です。さらに、そこに瞑想＋散歩を組み合わせることによってリラックス効果を高めることができます。
        </p>
      </li>
      <li class="border-none">
         <%= link_to("他の解決策を見る","/solution_list") %>
      </li>
   </ul>
</div>


