<%= stylesheet_link_tag "solution" %>
<p id="solution">👑解決策一覧👑</p>
<div class="box solution">
   <ul>
      <li>
         <%= link_to("楽しかった時の思い出を約10分間振り返る（写真や動画を見ながらすると効果UP）","/final_question") %>
         <p class="message">＜解説＞<br>これをすることで落ち込んでいたネガティブな気持ちをポジティブな気持ちへ変換することができます
         <br>詳しい解説：メンタリストDaigoのブログ「10分で立ち直れる意外な心理テクとは」</p>
      </li>
      <li>
         <%= link_to("森や海など自然がきれいな場所で散歩する（それらが近くになければ木が5.6本はえている公園ぐらいでも充分）","/final_question") %>
         <p class="message">＜解説＞<br>スタンフォード大学の研究によると、森や木々がたくさんある場所を歩くだけでもうつ病の改善にかなり繋がるということがわかっています。なぜこのような効果が得られるかというと、人間には自然に癒やされるという性質があるからです
         <br>詳しい解説：メンタリストDaigoのブログ「最強最短のストレス解消法3選」</p>
      </li>
       <li>
         <%= link_to("今の自分の感情にピッタリな曲を聞く","/final_question") %>
         <p class="message">＜解説＞<br>自分の気持を代弁してくれるような音楽を聞くことで今抱えている感情を客観視することができ、感情を落ち着かせることができます
         <br>詳しい解説：メンタリストDaigoのブログ「イライラを解消してくれる【ストレス解消音楽】がこちら」</p>
      </li>
      <li>
         <%= link_to("自分の犯した失敗が原因で落ち込んでいるなら、その失敗から今後の成長に繋がる教訓を見出す","/final_question") %>
         <p class="message">＜解説＞<br>今回の失敗を反省して自分の成長に繋げることができたら「失敗してよかった！」と思えるかも知れません</p>
      </li>
      <li class="border-none">
         <%= link_to("他の解決策を見る","/solution_list") %>
      </li>
   </ul>
</div>

