<%= stylesheet_link_tag "solution" %>
<p id="solution">👑解決策一覧👑</p>
<div class="box solution">
   <ul>
      <li>
         <%= link_to("森や海など自然がきれいな場所で散歩する（それらが近くになければ木が5.6本はえている公園ぐらいでも充分）","/final_question") %>
         <p class="message">＜解説＞<br>スタンフォード大学の研究によると、森や木々がたくさんある場所を歩くだけでもうつ病の改善にかなり繋がるということがわかっています。なぜこのような効果が得られるかというと、人間には自然に癒やされるという性質があるからです
         <br>詳しい解説：メンタリストDaigoのブログ「最強最短のストレス解消法3選」</p>
      </li>
      <li>
         <%= link_to("運動する","/final_question") %>
         <p class="message">＜解説＞<br>数多くの研究で運動が気分転換やストレス解消に絶大な効果をもたらすことが実証されています。なぜ運動がそれほど効果的かというと、運動することで幸福感を与えることで疲れを取り除くセロトニンとエンドルフィンという脳内物質が分泌されるからです</p>
      </li>
      <li>
         <%= link_to("作業に取り掛かるハードルを低くする","/final_question") %>
         <p class="message">＜解説＞<br>これはどういうことかとうと、例えば「1時間英語の勉強をしないといけない」というノルマがあった場合は「5分だけ勉強してみよう」とハードルを下げて作業に取りかかるという方法です。一旦作業を始めてしまうと、5分だったつもりがいつの間にか1時間経っていた、ということがよくあります。なぜこんなことが起こるのかというと、一旦何か作業を始めると人間には「変化を拒む」という性質があるので、それが働くことで「作業を止めたくない」と無意識に思うからです</p>
      </li>
      <li>
         <%= link_to("自分のモチベーションの根源を確認して、やる気が出るように工夫する","/final_question") %>
         <p class="message">＜解説＞<br>モチベーションが上がるときの条件は人それぞれ違います。その条件にマッチする環境を自ら用意することで高いモチベーションを維持することが簡単にできるので、一度自分のモチベーションの根源を調べてみることをオススメします。また調べ方としては、自分の過去を振り返ってみて、長期間継続できたことやたのしかったことに対して「なぜ継続できたのか？」や「なぜ楽しかったのか？」を何回も解い続けることは、1つ方法としてあります</p>
      </li>
      <li>
         <%= link_to("頑張った後の御褒美を用意する","/final_question") %>
         <p class="message">＜解説＞<br>例えば金曜日の午後に仕事をしていると「あと何時間か働いたら明日明後日は休みだから頑張ろう！」と思った経験はありませんか？これを応用することで様々な場面でモチベーションを上げることができます</p>
      </li>
      <li class="border-none">
         <%= link_to("「ノルマを達成しないと〇〇を失う」と設定する","/final_question") %>
         <p class="message">＜解説＞<br>人間には、何かを得られるメリットよりも失う恐怖に強く影響されてしまう性質があります。これはプロスペクト理論と呼ばれており、これを応用することで日常のあらゆる場面でモチベーションを上げることができます。例えば、「1時間英語の勉強をしないといけない」というノルマがあった場合、「ノルマを達成できたら1000円分のご褒美を自分に買ってあげよう」とルールをつくるよりも「達成できなかったら1000円破り捨てよう」の方がノルマ達成率や作業中の集中力は高いはずです</p>
      </li>
   </ul>
</div>



 