<%= stylesheet_link_tag "solution" %>
<p id="solution">👑解決策一覧👑</p>
<div class="box solution">
   <ul>
      <li>
         <%= link_to("過去の成功体験を思い出す（たくさん思い出すほど効果UP）","/final_question") %>
         <p class="message">＜解説＞<br>過去の同じような経験の成功体験を思い出すことで「自分ならできる！」と自信を得て緊張を和らげることができます</p>
      </li>
      <li>
         <%= link_to("失敗してもいいやと思えるようにする","/final_question") %>
         <p class="message">＜解説＞<br>緊張の原因の多くは「失敗したら駄目だ」と考えることにあります。それをできる限り「失敗してもなんとかなる」と思えるようにすることで緊張を緩和することができます。失敗してもいいと思えるようになる方法は、例えば「失敗してもそこからなにか学んで次の成功に繋げればいいや」と考えたり、もし「恥をかきたくない」という思いが原因で失敗したくないと思っているなら解決策一覧ページから「恥じらいを捨てきれない」のページまでとんでそこに書いていることを読むと改善できるかもしれません</p>
      </li>
      <li>
         <%= link_to("瞑想する","/final_question") %>
         <p class="message">＜解説＞<br>緊張している時はネガティブになってしまい、どうしても悪い場面ばかりを想像してしまいます。それによってさらに不安が増してより緊張してしまうのを防ぐために、別のことに思考を集中してネガティブスパイラル思考を止めることは非常に大事です。瞑想は慣れればどんな場所でもすぐに実行できる方法なので非常にオススメです</p>
      </li>
      <li>
         <%= link_to("緊張をポジティブに捉える","/final_question") %>
         <p class="message">＜解説＞<br>「緊張でドキドキしているのは、これから大事な瞬間があるからしっかり準備するように身体が調整しようとしてくれているからだ！」と考えてください。「いやいや、そんな風にポジティブに考えるのは無理があるわ」と思った方は、ここの参考サイトに紹介しているページに書いてあることを読んだら、「へぇ〜緊張することで身体の中ではこんなことが起きてたんだ！だったらそういう風に考えることができるかも」と思えるかも知れません。
         <br>参考サイト：メンタリストDaigoのブログ：「人前で堂々と話せるようになる方法」</p>
      </li>
      <li class="border-none">
         <%= link_to("他の解決策をみる","/solution_list") %>
      </li>
   </ul>
</div>

