<%= stylesheet_link_tag "solution" %>
<p id="solution">ðŸ‘‘è§£æ±ºç­–ä¸€è¦§ðŸ‘‘</p>
<div class="box solution">
   <ul>
      <li id="all-nayamin">
         <%= link_to("ã„ã‚ã‚“ãªæ‚©ã¿ã‚’è§£æ±ºã§ãã‚‹ä¸‡èƒ½ãªæ–¹æ³•ï¼ï¼","/all_solve") %>
      </li>
      <li>
         <%= link_to("ã‚„ã‚‹æ°—ãŒå‡ºãªã„","/motivation") %>
      </li>
      <li>
         <%= link_to("ã‚¹ãƒˆãƒ¬ã‚¹","/stress") %>
      </li>
      <li>
         <%= link_to("ãƒ—ãƒ¬ãƒƒã‚·ãƒ£ãƒ¼","/pressure") %>
      </li>
      <li>
         <%= link_to("ä»Šã®è‡ªåˆ†ã®èƒ½åŠ›ã‚„çŸ¥è­˜ã§ã¯è§£æ±ºã§ããªã„","/my_lack") %>
      </li>
      <li>
         <%= link_to("çœ ã„","/sleepy") %>
      </li>
      <li>
         <%= link_to("è½ã¡è¾¼ã‚“ã§ã„ã‚‹","/depressed") %>
      </li>
      <li>
         <%= link_to("èª°ã‹ã«ã‚¤ãƒ©ã‚¤ãƒ©ã—ã¦ã„ã‚‹","/frustration") %>
      </li>
      <li>
         <%= link_to("ç„¦ã£ã¦ã„ã‚‹","/impatient") %>
      </li>
      <li>
         <%= link_to("ç·Šå¼µã—ã¦ã„ã‚‹","/nervous") %>
      </li>
      <li>
         <%= link_to("æ¥ã˜ã‚‰ã„ã‚’æ¨ã¦ãã‚Œãªã„","/shame") %>
      </li>
      <li class="border-none top-return">
         <%= link_to("ãƒˆãƒƒãƒ—ã«æˆ»ã‚‹","/") %>
      </li>
   </ul>
</div>
